* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  /* outline: 1px solid fuchsia; */
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #7cf03d;
  --gradient-color: linear-gradient(to right, #7cf03d, #3ec5ff);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

span {
  background: var(--gradient-color);
  background-clip: text;
  color: transparent;
}

section {
  min-height: 100vh;
  padding: 10rem 12%;
}

/* HEADER / NAVBAR */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 10%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#menu-icon {
  font-size: 4rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar .nav-links {
  display: flex;
  list-style: none;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 4rem;
  border-bottom: 3px transparent;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
  background: var(--gradient-color);
  background-clip: text;
  color: transparent;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  font-size: 2rem;
  margin: 0.6rem 0;
}

.home-content p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
}

.home-image img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-image img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
